[submodule "nealib"]
	path = nealib
	url = https://github.com/copenhagencityarchives/nealib.git
	branch = master
[submodule "wolfpack"]
	path = WolfPack
	url = https://github.com/copenhagencityarchives/WolfPack.git
	branch = feature-events
